@{
    ViewData["Title"] = "Locations";

}

@model List<LocationsViewModel>

<h1 class="locations moveLeft">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <div id="test" class="form-inline" style="margin-left:138px;">
            <div class="form-group">
                <label class="locations"></label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <span><i class="fas fa-hospital-user"></i></span>
                    </div>
                    <select id="selectDistFilter" class="form-control "><option>Select a district</option></select>
                </div>

            </div>
            <div class="form-group">
                <label class="locations"></label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <span><i class="fas fa-clinic-medical"></i></span>
                    </div>
                    <select id="selectTownFilter" class="form-control"></select>
                </div>

            </div>
            <button id="filterButton" class="btn btn-info" style="margin-left:5px">Filter</button>

        </div>
    </div>
</div>
<br />
<br />

<div id="allLocations">
    @foreach (var location in Model)
    {
        @*<div id="locationsPage" class="col-md-4 elementCard">
            <div class="card" id="cardBoarder" style="width: 56rem;height:650px; position:relative!important; background-color:lightslategrey">*@
        @*<img class="card-img-top" src="@location.ImageUrl" width="555" height="400" alt="Card image cap">*@
        <div id="locationsPage" class="col-md-6 elementCard">
            <div class="card" id="cardBoarder" style="width: 65rem;height:650px; position:relative!important; margin-left:100px; background-color:lightslategrey">
                <img class="card-img-top" src="@location.ImageUrl" width="645" height="400" alt="Card image cap">
                <div class="card-body">
                    <h4 class="text" id="hospTitle">@location.Name</h4>
                    <p class="text" id="hospDisc">@location.Description</p>
                    <a asp-controller="Booking" asp-action="BookApointment" asp-route-districtId="@location.TownDistrictId" asp-route-districtName="@location.TownDistrictName" asp-route-townId="@location.TownId" asp-route-townName="@location.TownName" asp-route-hospitalId="@location.Id" asp-route-hospitalName="@location.Name" class="btn btn-primary" id="hospButton" style="position:absolute!important;bottom:10px!important">Book here</a>
                </div>
            </div>
            <div class="hidden">@location.TownId</div>
            <br />
        </div>
    }
</div>
