@*<script src="~/js/site.min.js" asp-append-version="true"></script>*@
@{
    this.ViewData["Title"] = "Edit Booiking";
}

@model BookingModel

<h1 class="locations">@this.ViewData["Title"]</h1>

<form method="post" class="col-md-4">
    <div class="validation" asp-validation-summary="All"></div>
    <div class="form-group">
        <label class="locations" asp-for="DistrictId">Select District</label>
        <select id="selectDist" class="form-control" onmousedown="GetAllDistricts()" onchange="GetTownsByDistrict(), ClearData()" asp-for="DistrictId"><option value="@Model.DistrictId">@Model.DistrictName</option></select>
        <span class="validation" asp-validation-for="DistrictId"></span>
    </div>
    <div class="form-group">
        <label class="locations" asp-for="TownId">Select Town</label>
        <select id="selectTown" class="form-control" onchange="GetHospitalsByTown(), ClearData()" asp-for="TownId"><option value="@Model.TownId">@Model.TownName</option></select>
        <span class="validation" asp-validation-for="TownId"></span>
    </div>
    <div class="form-group">
        <label class="locations" asp-for="HospitalId ">Select Hospital</label>
        <select id="selectHosp" class="form-control" asp-for="HospitalId" onchange="ClearData()"><option value="@Model.HospitalId">@Model.HospitalName</option></select>
        <span class="validation" asp-validation-for="HospitalId"></span>
    </div>
    <div class="form-group">
        <label class="locations" asp-for="DiseaseId">Select Disease</label>
        <select id="selectDisease" class="form-control" onmousedown="GetAllDiseases()" onchange="GetVaccinesByDisease(), ClearData()" asp-for="DiseaseId"><option value="@Model.DiseaseId">@Model.DiseaseName</option></select>
        <span class="validation" asp-validation-for="DiseaseId"></span>
    </div>
    <div class="form-group">
        <label class="locations" asp-for="VaccineId">Select Vaccine</label>
        <select id="selectVaccine" class="form-control" asp-for="VaccineId" onchange="ClearData()"><option value="@Model.VaccineId">@Model.VaccineName</option></select>
        <span class="validation" asp-validation-for="VaccineId"></span>
    </div>
    <div class="form-group">
        <label class="locations" asp-for="BookingDate">Select Date</label>
        <input type="datetime-local" class="form-control" id="selectBookingDate" asp-for="BookingDate" onchange="ClearData()" />
        <span class="validation" asp-validation-for="BookingDate"></span>
        <div class="form-inline" id="checkAvailableButton">
            <a class="btn btn-info" onclick="CheckDate()">Check if date is available</a>
            @*<a class="btn btn-danger">Not Available</a>*@
        </div>
    </div>
    <div class="form-group">
        <label class="locations" asp-for="OtherInfo">Aditional Information(not required)</label>
        <textarea class="form-control" rows="7" cols="56" asp-for="OtherInfo"></textarea>
    </div>

    <input type="submit" id="sendButton" value="Save changes" class="btn btn-info confirmChanges" />
    <a id="sendButton" value="Cancel" class="btn btn-danger" asp-controller="Booking" asp-action="GetUserBookings"> Cancel </a>
</form>


@*TODO: Rewrite the scripts so that code is reused and not copy pasted in multiple places*@
<script>
    function ClearData() {
        var inlineDiv = document.getElementById("checkAvailableButton");
        if (inlineDiv.childElementCount > 1) {
            inlineDiv.lastChild.remove();
        }
    }

    function CheckDate() {

        var inlineDiv = document.getElementById("checkAvailableButton");

        var hospitalField = document.getElementById("selectHosp");
        var hospitalId = hospitalField.options[hospitalField.selectedIndex].value;

        var bookingDate = document.getElementById("selectBookingDate").value;

        $.ajax({
            type: "GET",
            url: "/Booking/CheckDate",
            data: { hospitalId: hospitalId, bookingDate: bookingDate },
            dataType: "json",
            success: function (result) {

                if (result == 0) {
                    if (inlineDiv.childElementCount > 1) {
                        inlineDiv.lastChild.removeChild();
                    }
                    inlineDiv.innerHTML = inlineDiv.innerHTML + '<a class="btn btn-success">Available</a>';
                }
                else {
                    if (inlineDiv.childElementCount > 1) {
                        inlineDiv.lastChild.removeChild();
                    }
                    inlineDiv.innerHTML = inlineDiv.innerHTML + '<a class="btn btn-danger">Not Available</a>';
                }
            },
            error: function (error) {
                alert(error);
            }
        });
    }
    function GetAllDistricts() {
        //TODO: Fix on click setting Sofia as default value and Sofia can't be set as an option
        $.ajax({
            type: "GET",
            url: "/Booking/GetAllDistrictsAjax",
            dataType: "json",
            success: function (result) {
                var ele = document.getElementById('selectDist');

                if (ele.innerHTML != null) {
                    ele.innerHTML = '';
                }
                for (var i = 0; i < result.length; i++) {
                    ele.innerHTML = ele.innerHTML +
                        '<option value="' + result[i]['key'] + '">' + result[i]['value'] + '</option>'
                };
            },
            error: function (error) {
                alert(error);
            }
        });
    }
    function GetTownsByDistrict() {

        var districtField = document.getElementById("selectDist");
        var districtId = districtField.options[districtField.selectedIndex].value;

        $.ajax({
            type: "GET",
            url: "/Booking/GetTownsByDistrictAjax",
            data: { districtId: districtId },
            dataType: "json",
            success: function (result) {
                var ele = document.getElementById('selectTown');

                if (ele.innerHTML != null) {
                    ele.innerHTML = '';
                }
                for (var i = 0; i < result.length; i++) {
                    ele.innerHTML = ele.innerHTML +
                        '<option value="' + result[i]['key'] + '">' + result[i]['value'] + '</option>'
                };
            },
            error: function (error) {
                alert(error);
            }
        });
    }
    function GetHospitalsByTown() {
        //TODO: Fix Hospitals not changing when you change the district
        var townField = document.getElementById("selectTown");
        var townId = townField.options[townField.selectedIndex].value;

        $.ajax({
            type: "GET",
            url: "/Booking/GetHospitalsByTownAjax",
            data: { townId: townId },
            dataType: "json",
            success: function (result) {
                var ele = document.getElementById('selectHosp');

                if (ele.innerHTML != null) {
                    ele.innerHTML = '';
                }
                for (var i = 0; i < result.length; i++) {
                    ele.innerHTML = ele.innerHTML +
                        '<option value="' + result[i]['key'] + '">' + result[i]['value'] + '</option>'
                };
            },
            error: function (error) {
                alert(error);
            }
        });
    }

    function GetAllDiseases() {
        //TODO: Fix on click setting the first value as default and that value can't be set as an option
        $.ajax({
            type: "GET",
            url: "/Booking/GetAllDiseasesAjax",
            dataType: "json",
            success: function (result) {
                var ele = document.getElementById('selectDisease');

                if (ele.innerHTML != null) {
                    ele.innerHTML = '';
                }
                for (var i = 0; i < result.length; i++) {
                    ele.innerHTML = ele.innerHTML +
                        '<option value="' + result[i]['key'] + '">' + result[i]['value'] + '</option>'
                };
            },
            error: function (error) {
                alert(error);
            }
        });
    }
    function GetVaccinesByDisease() {
        var diseaseField = document.getElementById("selectDisease");
        var diseaseId = diseaseField.options[diseaseField.selectedIndex].value;

        $.ajax({
            type: "GET",
            url: "/Booking/GetVaccinesByDiseaseAjax",
            data: { diseaseId: diseaseId },
            dataType: "json",
            success: function (result) {
                var ele = document.getElementById('selectVaccine');

                if (ele.innerHTML != null) {
                    ele.innerHTML = '';
                }
                for (var i = 0; i < result.length; i++) {
                    ele.innerHTML = ele.innerHTML +
                        '<option value="' + result[i]['key'] + '">' + result[i]['value'] + '</option>'
                };
            },
            error: function (error) {
                alert(error);
            }
        });
    }

    $('.confirmChanges').on('click', function () {
        return confirm('Do you want to save these changes?');
    });
</script>
